@CHARSET "UTF-8";

/*------------------------------------Layout-----------------------------------------*/

body{
    margin: 0;
    background-color: #222121;
    min-width: 650px;
}
body, html {
    height: 100%;
}
header {
    width:100%;
}

header #title {
    height:130px;
    width:100%;
    background: #000000; 
}

main {
    width:100%;
    margin: 0 auto;
    font-family: arial;
    overflow: hidden;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: 50px;
}
footer{
    background:#000000;
    height:100px;
    clear:both;
    position:relative;
    bottom:0;
    width: 100%;
}

#homeLogo {
    font-size: 50px;
    font-weight:bold;
    color:#ffffff;
    font-family: Verdana;
    float:left;
    text-decoration: none;
    height:auto;
    width:auto;
    margin:60px 0 0 40px ;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e32727;
}

.menuItem {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-family: Verdana;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}




.inline-list>li{
    display:inline-block;
    width:auto;
    margin:0 25px;
}
.inline-list{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/*---------------------------------------End Layout-------------------------------------*/

.hotel-titles-all-hotel{
    font-size: 26px;
    font-weight: bold;
    min-height: 70px;
}

input[type="button"]{
    min-width: 140px;
    height: 40px;
    text-transform:uppercase;
    cursor:pointer;
    border-radius:44px;
    border-color:#fff;
    border-style:solid;
    background-color:#222121;
    color:white;
    font-weight: bold;
}
input[type="button"]:hover{
    background:#e32727;
    transition:background 0.4s ease-out;
    border:none;
}

.moreHotel header {
    display:flex;
    justify-content: center;
    width:100%;
    height:auto;
    margin: 30px 0;
    font-size: 40px;
}

.moreHotel {
    width: 100%;
    height: auto;
    color: #ffffff;
    font-weight:bold;
    margin: 40px 0;
    text-align: center;
}

.gallery {
    margin: 0;
    width: 100%;
    min-height:350px;
    height: auto;
    justify-content: center;
}

.galleryContent{
    height:	300px;
    width:30%;
    margin:2%;
    position: relative;
    min-width:400px;
    display: inline-block;

}

.imgBox {
    height: 85%;
    width:100%;
}
.imgBox img{
    transition:transform 0.5s ease-in;
}
.imgBox img:hover{
    transform:scale(1.2);
}

.hotelGallery {
    height:100%;
    width:100%;
}


/*--- new --- */

.logoutDiv{
    display: none;
}
form.loginForm{
    /* display: inline-block; */
    text-align: center;
    padding-top:5%;
    color:white;
}
.loginTitle{
    text-align: center;
    padding-top:2%;
    color:white;
    font-size: 36px; 
    font-weight: bold;
}

label{
    color:white;
    display:inline-block;
    width: 100px;
    text-align: left;
}
.paragraph {
    color:white;
    text-align: center;
}

.just {
    text-align: justify;
    color:white;
    padding-left: 100px;
    padding-right: 100px;
}

.petsHotel {
    color: #800080;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.googleApi {
    text-align: center;
    height: 70px;
}

.tableStyle {
    width: 100%;
    background-color: #efedec;
    font-family: Georgia;
    color: #7d7d7d;
    border: 0;
    padding-top: 15px; 
}

.tdStyle {
    background-color: #494843;
    padding-left: 10px; 
    height: 25px;
    margin: 0 auto;
}

.petPic {
    display: block;
    margin: 0 auto;
    width: 30px;
    padding-top: 15px;
}

.spanStyle {
    color: #3b3b39;
}

.tableDiv {
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
}

.picSize {
    height: 40%;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display:block;
}

tr > td:first-child {
    padding-left: 2%;
}

#profileTitle{
    color:white;
    text-align: center;
    font-size: 37px;
    padding-top: 2%;
}

#infoTable{
    width: 80%;
    margin: 0 auto; 
}

.login-panel{
    float: right;
}

@media screen and (max-width: 1000px) {
    .login-panel{
        float: inherit;
    }
    .logoutDiv{
        float: inherit;
    }    
}
